.container {
  width: 313px;
  height: 54px;
  margin-top: 30px;
}

.boxContainer{
  border: 1px solid #a9a9a9;
  padding: 10px;
  border-radius: 5px;
  width: 313px;
  height: 54px;
  margin-top: 30px;
  outline: none;
}

.focusBoxContainer{
  border: 1px solid #B78453;
  padding: 10px;
  border-radius: 5px;
  width: 313px;
  height: 54px;
  margin-top: 30px;
  outline: none;
}