.container {
  /* border: 1px solid red; */
  width: 313px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.05px;
  color: '#000000';
  line-height: 21px;
}

.boxContainer{
  border: 1px solid #a9a9a9;
  padding: 10px;
  border-radius: 5px;
  width: 313px;
  height: 54px;
  /* margin-top: 30px; */
  outline: none;
}

.focusBoxContainer{
  border: 1px solid #B78453;
  padding: 10px;
  border-radius: 5px;
  width: 313px;
  height: 54px;
  /* margin-top: 30px; */
  outline: none;
}

.errorMessage {
  color: red;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.05px;
  line-height: 21px;
}

.errorBoxContainer {
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    width: 313px;
    height: 54px;
    /* margin-top: 30px; */
    outline: none;
}
