.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
}

.bio {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 14px;
  margin-left: 70px;
  margin-right: 70px;
}

@media (max-width: 768px){
  .title {
    font-size: 30px;
    font-weight: 700;
  }

  .bio {
    font-size: 14px;
    font-weight: 300;
  }
}