.bogButtonContainer{
  height: 54px;
  width: 207px;
  background-image: linear-gradient(90deg, #B78453, #61301A);
  margin-top: 42px;
  border-radius: 100px;
}

.text{
  color: white;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.05px;
}