.modalContainer{
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4000;
  height: 65%;
  width: 65%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.introText {
  font-weight: 700;
  font-size: 30px;
  color: #B78453;
}

.moneyResult{
  font-weight: 700;
  font-size: 70px;
  color: #B78453;
}

